# üêç Data Structures 101
DA Probability & Statistics Learning Series ‚Ä¢ Self-Guided Lesson 1

<ol>
    <li>Basic Data Structures</li>
    <li>Advanced Data Structures</li>
    <li>Intro to Object-Oriented Programming</li>
    <li>Application of Object Data Structures</li>
    <li>Challenge: Putting it All Together</li>
</ol>

Welcome!

See #da_prob_stat for discussion during and after this session.

<h2>Goals</h2>

<ul>
    <li>Develop Comfort Using and Converting between Python Data Structures</li>
    <li>Learn the 'Pythonic' way to leverage object-oriented programming principles</li>
    <li>Connect to a database, extract sql query to a dataframe, and manipulate results</li>
</ul>

<h3>The Basic Data structures we see in SQL/Looker can be used in Python as well</h3>

<ul>
    <li>Boolean</li>
    <li>String</li>
    <li>Int</li>
    <li>Float</li>
</ul>

In [3]:
# Let's define and print a few different data types
myBoolean = False
myString = 'A Full String'
myInt = 42
myFloat = 3.1415927
print(' Boolean: %s \n String: %s \n Integer: %s \n Float: %s'  %(myBoolean, myString, myInt, myFloat))
print('--------------------------------------------')

# We (you) can also convert among these values
#print(' myFloat to String: %s' %#PUT CONVERSION HERE)
#print(' myFloat to Int: %s' %#PUT CONVERSION HERE)
#print(' myBoolean to Int: %s' %#PUT CONVERSION HERE)
#print(' myInt to Boolean: %s' %#PUT CONVERSION HERE)

 Boolean: False
 String: A Full String
 Integer: 42
 Float: 3.1415927
--------------------------------------------

<h3>Some <em>Intermediate</em> Data Structure In Python </h3>

Array <em>ex [1,2,3,4]</em> can be used to hold lists of information, this does not all have to be the same type but it should be. 

Tuple <em>ex (1,2,3)<em> used to hold immutable structured information
    
Dictionary <em>ex {'author': 'Ernest Hemmingway', 'book': 'Islands in the Stream'}</em> Used to hold key-value pairs of information

### Why do we use these structures?

> Easier to model complex data or store complicated relationships

> We can leverage properties of these structures to automate work

Let's dive into a few examples using lists, tuples, and dictionaries

In [5]:
# We should use lists to hold homogenous information of arbitrary length.
# We can easily add, remove, reference, and loop through information in an array
dataTeam = ['Nate', 'David', 'Ravi', 'Niharika']
print(dataTeam, '\n')

# Let's Reference the first and last teammates in this list, then add a new teammate using list.append()
#print(#Teammate1, ' & ', #Teammate4, '\n')
#add a new teammate to the list
print(dataTeam, '\n')

# We can use our list to loop through items
for person in dataTeam:
    print(person + ' is a good teammate!')

['Nate', 'David', 'Ravi', 'Niharika']

['Nate', 'David', 'Ravi', 'Niharika']

Nate is a good teammate!
David is a good teammate!
Ravi is a good teammate!
Niharika is a good teammate!

In [21]:
# Import dependency we'll need

import math

def haversine(origin, destination):
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371 # km

    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c

    return d

In [28]:
# We should use tuples to hold homogenous information of fixed length and location reference.
# We should use this for structured information such as lat/lon coordinates where the order gives us implicit information
ord = (41.9742, 87.9073)
lax = (33.9416,118.4085)

# Haversine is a formula that takes a tuple of lat/lon for given locations and calculates the distance between them
miles = haversine(ord, lax)
print('ORD to LAX: %.2f Mi' %miles)

# We can also reference values by their index, similar to lists
print('lat_of_ord: %s degrees' %ord[0])

 ORD to LAX: 2801.93 Mi
lat_of_ord: 41.9742 degrees

In [7]:
# We should use dictionaries to hold unstructured information of arbitrary length.
# We may use this to hold a wide variety of information to easily reference later

shipment = {
    'id' : 777177,
    'incoterms' : 'EXW',
    'Port of Loading': 'Shenzen',
    'Carriers': ['Shipco', 'CH Robinson']
}

# To reference a value simply pass it's key as the index
#print('Port of Loading is: %s \n' %#Put port of loading here)

# We can remap values by changing the value referenced at a key
shipment['incoterms'] = 'FOB'
#print('Incoterm is: %s \n' %#Put incoterms here)

# We can also add new information to a dictionary
shipment['Arrival Port'] = 'Los Angeles'
#print('Arrival Port is: %s \n' %#Put arrival port here)

This should be enough to get you started, with basic data structures, for some deep dive problems I suggest checking out <a href="https://learning.oreilly.com/library/view/python-cookbook-3rd/9781449357337/ch01.html">chapter 1 of Python Cookbook.</a>

<h3>Advanced Data Structures</h3>

We're going to introduce a few more advanced data structures we'll frequently encounter Python when manpulating data

<ul>
    <li>Objects</li>
    <li>Dataframes</li>
</ul>

### Objects

Objects are an encapsulation of variables and functions into a single entity. Objects get their variables and functions from classes. Classes are like a blueprint to create your objects, defining what fields can exists and what functions are native to them.

We can use objects to normalize/group data into useable formats and define methods (functions of an objects) that will cut down on our work. We'll also find ways to leverage some of the past data structures we've learned.

We'll define and use a simple object next, read through the comments to understand how we create this class

In [30]:
# We First need to develop a blueprint for a Terminal Object
# We determine a Terminal has a name, latitude and longitude
# Note the proper syntax is to begin classes as Upper Case
class Terminal:
    # a function we should include in all objects is an __init__() function for creating
    # it defines what fields we pass and save to the object when initalizing.
    # we also must always be cognizant to reference 'self' when defining object properties
    def __init__(self, iata, latitude, longitude):

        self.name = iata
        self.lat = latitude
        self.lng = longitude
    
    # a nice-to-have field is __str__() which defines how we output this object when we print it
    def __str__(self):
        return self.name.upper()

> Now that we have a `class` created we can reference this to create a set of objects by calling the implied `__init__` function of our class

> Let's create a few instances of our object below

In [31]:
ohare = Terminal('ord', 41.9742, 87.9073)
print(ohare)

laguardia = Terminal('lga', 40.7769, 73.8740)
print(laguardia)

# in the first two examples we passed 
losangeles = Terminal('lax', 33.9416, 118.4085)
print(losangeles)

ORD
LGA
LAX

### Challenge

Now we remember from earlier that `haversine` formula allowed us to pass two tuples representing the distance between points. Let's modify our blueprint so that create `method` for outputting a lat/lng tuple from our Terminal to work easily with this formula

In [32]:
# Below follows the previous code from our class, can you modify it to add a get_coords method?
# Then uncomment the lines below to test

class Terminal:
    def __init__(self, iata, latitude, longitude, **kwargs):
        self.name = iata
        self.lat = latitude
        self.lng = longitude
    def __str__(self):
        return self.name.upper()
    
    # Lets define our method here to output a tuple of lat/lng coordinates
    def get_coords():
        # Your code here
        return


# ohare = Terminal('ord', 41.9742, 87.9073)
# laguardia = Terminal('lga', 40.7769, 73.8740)

# Lets call our method to print the coordinates lat/lng
# print("Ohare: " + str(ohare.get_coords()))
# print("LaGuardia: " + str(laguardia.get_coords()))

# Lets call our method on both objects to run the haversine formula
# distance = haversine(ohare.get_coords(), laguardia.get_coords())
# print("Distance %s to %s: %.2f mi" %(ohare, laguardia, distance))  #good opportunity to look into formatted printing

# Debrief

>So why the deep dive into objects?

Most of the advanced data structures we'll encounter are classes that have been defined for us. We'll be leveraging the pre-defined blueprints to better manipulate data

## Dataframes

Dataframes are the üîë class of Pandas (you'll also see them in R). They allow us to structure, store, and manipulate data in a variety of ways. Dataframes have a TON of methods so we'll start with a gentle introduction and close with a challenge of connecting to snowflake to load a sql file into a dataframe and manipulate it. I like to think of DataFrames as sql tables but more powerful.

If you'd like to read google around but here's a great link to start: https://towardsdatascience.com/introduction-to-pandas-dataframes-b1b61d2cec35

In [45]:
# First let's import pandas (usually done as pd) and it's helper numpy (usually np)
import pandas as pd
import numpy as np

# Next we'll walk through a few ways of generating a dataframe

# From a dictionary
mydata = {
    'shipment_id': [774404,774228,773512,773061,773029,772943,772806,772777],
    'mode_blended':['Air','Air','Air','Air','Air','Air','Air','Ocean FCL'],
    'gross_weight': [79, 418.5, 3677.34, 122, 144, 601.2, 304, 268],
    'volume': [0.504, 1.914, 32.096, 0.823, 1.539, 2.016, 1.267, 0.96]
}

#Create a dataframe from this dictionary, and then print the header and the first 5 rows

   shipment_id mode_blended  gross_weight  volume
0       774404          Air         79.00   0.504
1       774228          Air        418.50   1.914
2       773512          Air       3677.34  32.096
3       773061          Air        122.00   0.823
4       773029          Air        144.00   1.539

In [46]:
# From a CSV file (alternatively from excel)

#Create a dataframe from the csv "df_example.csv", and then print the first 5 rows

   shipment_id mode_blended  gross_weight  volume
0       774404          Air         79.00   0.504
1       774228          Air        418.50   1.914
2       773512          Air       3677.34  32.096
3       773061          Air        122.00   0.823
4       773029          Air        144.00   1.539

You'll notice in the above example we used two very different methods to generate a df. In the first we initialized the object by calling the class and passing `__init__` values to it as a dictionary. In the second we used the `read_csv` function of the pandas library that outputs a dataframe.

Now that we have a dataframe we can show a few examples of data manipulation, these are all using methods of the DataFrame object

In [47]:
# using the [ ] operaters we can filter and slice our DF
df_slice = myDataFrame[myDataFrame['mode_blended'] == 'Ocean FCL']
df_slice

   shipment_id mode_blended  gross_weight  volume  transit_on_time     density
7       772777    Ocean FCL         268.0    0.96            False  279.166667

### An Aside on Memory
Up until now we haven't talked about how memory is handled in python. 
In general python does a great job of abstracting this away us.
But should be roughly aware of what's happening under the hood!

When we assign a variable x = 1, what we do is assign that variable as a reference to a point in memory. We can see where this exists by doing id()

When we reference that in a different value we simply reference the underlying memory location. Notice if we set y = x, the id of y is really the same underlying memory location of x.

In [6]:
x = 1
print(id(x))
y = x
print(id(y))
print("WOW")

4469140384
4469140384
WOW

Ints and most basic structures are immutable, changing their value assigns a new memory location.
But Lists, Dicts, and Objects are not immutable, so we may run into assignment/copy issues!

Let's take that slice from before and see what happens when we alter the underlying values.

In [18]:
df_slice["gross_weight"] = 0
myDataFrame

/Users/nrobinson/.local/share/virtualenvs/da_prob_stat-tr7t3bpH/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   shipment_id mode_blended  gross_weight  volume
0       774404          Air         79.00   0.504
1       774228          Air        418.50   1.914
2       773512          Air       3677.34  32.096
3       773061          Air        122.00   0.823
4       773029          Air        144.00   1.539
5       772943          Air        601.20   2.016
6       772806          Air        304.00   1.267
7       772777    Ocean FCL        268.00   0.960

Luckly Jupyter is giving us a nice error message, but this leadsThis leads us to .copy() 

This function allows to copy the items in one objects, and place them in another as new memory addresses. Updating one won't update the underlying values. In some cases copying a value won't solve your problems, what if you have a list of lists? In that case you need to perform a deep copy, effectively recursively copying items out of your objects. 

For more reading check out this link! https://realpython.com/copying-python-objects/

In [ ]:
### Back to our regularly scheduled programming

In [48]:
# we can add a new column by referencing (like a dictionary) it and passing an array

myDataFrame['transit_on_time'] = [True, False, True, True, False, True, True, False]
myDataFrame.head()

   shipment_id mode_blended  gross_weight  volume  transit_on_time     density
0       774404          Air         79.00   0.504             True  156.746032
1       774228          Air        418.50   1.914            False  218.652038
2       773512          Air       3677.34  32.096             True  114.573156
3       773061          Air        122.00   0.823             True  148.238153
4       773029          Air        144.00   1.539            False   93.567251

In [49]:
# Lets say we now want calculate what percentage of our shipments were on time?
# We can use the shape formula that gives us how many items are in an index, 0 being rows, 1 being columns

#otp = calculate OTP here
#print("%.2f OTP" %(otp*100))

62.50 OTP

In [50]:
# An extremely useful method is apply() function. It allows us to apply a lambda function to all rows of df at once
# This is extremly fast written in cpython (compiled in c) and 10x or more faster than looping through rows in a df

# Lets say we wanted to get the most-dense shipment, we need to create a column and determine the max
# Great read for more info: https://towardsdatascience.com/apply-and-lambda-usage-in-pandas-b13a1ea037f7

#myDataFrame['density'] = #write a lambda function to calculate density
#print("Max Density: %.2f" %max(myDataFrame['density']))

# We can also use the value of this item get the whole row from the dataframe
#row_of_max_value = myDataFrame[myDataFrame['density'] == max(myDataFrame['density'])]
#row_of_max_value

Max Density: 298.21

   shipment_id mode_blended  gross_weight  volume  transit_on_time     density
5       772943          Air         601.2   2.016             True  298.214286

In [8]:
# Lastly lets say we want to output a row to an array, this will be helpful later

gross_weight = list(myDataFrame['gross_weight'])
gross_weight

NameError: name 'myDataFrame' is not defined

## Bringing It All Together

Now that we've worked throught the specifics of how objects work and how we can manipulate dataframes let's put this all togther in a challenge. We're going to create a database connection (an object!) and use that to execute a sql query and dump our results in a dataframe and using that to learn a bit of information about some shipments.

In [1]:
# We're introducing some boilerplate code for accessing our snowflake db, you can all reuse this!

import os
import snowflake.connector

# Wrapper for snowflake.connector.connect
def get_connection():
    """
    Returns a connection to Snowflake provided you have credentials in shell config
    """
    account = 'flexport'
    user = os.getenv('SNOWFLAKE_USERNAME')
    print(user)
    authenticator = 'externalbrowser'
    conn = snowflake.connector.connect(user=user,
                                       account=account,
                                       authenticator=authenticator,
                                      role="DATA_ANALYTICS_ROLE",
                                      warehouse="REPORTING_WH",
                                      database="ANALYTICS")
    cur = conn.cursor()
    return conn, cur


def validate_connection(conn, cur):
    """
    Function that validates connection by connecting and printing
    Snowflake version
    """
    try:
        cur.execute("SELECT current_version()")
        one_row = cur.fetchone()
        print(one_row[0])
    finally:
        cur.close()
#     conn.close()

conn, cur = get_connection()
validate_connection(conn, cur)

nrobinson@flexport.com
4.14.4

In [40]:
# the syntax for this part is a bit new, by using 'with' we are opening a file as an object
# and defering closing the file till the end of the block.
# This ensures we don't forget close the file and leave in local memory.
# Since we need to pass a text query to read_sql() we need to apply the read() method on our file object.

with open('sql_example.sql', 'r') as sqlfile:
    file_text = sqlfile.read()
    # now that we've read the file we execute it against our db connection object
    df = pd.read_sql(file_text, conn)
df.head()

  QUOTE_ACCEPTED_WEEK SHIPMENT_TYPE  COUNT_OF_SHIPMENTS_BOOKED
0          2020-02-10          plus                          2
1          2020-02-24          plus                          1
2          2020-03-02          plus                          4
3          2020-03-09          plus                          2
4          2020-03-16          plus                          3

# Homework
If you'd like to dive deeper I suggest this additional interactive site: https://www.learnbyexample.org/

Now that we've given you an example you're going to put this all together, we'd like you to do the following. Execute the sql file call `otp.sql` in this repo against a database connection. Then use what we've learned to retrieve a query to a dataframe, modify the data to your needs including applying lambda functions, and then using a `group_by` to determine the OTP of Air Shipments in March of 2020

Let's answer some basic question, and then calculate OTP of Air Shipments in March 2020
<ul>
    <li>How many rows and columns are in the resulting dataframe? What are 2 ways to find this?</li>
    <li>How would you rename the columns to more useable headers?</li>
        <li>You may have to parse dates!</li>
<li>What is the OTP of Air Shipments in March of 2020? Remember lambda functions and the group_by operation!</li>
</ul>