# üêç.3 Pandas Data Transformations, Pt. 1 & Pt. 2!
_Nate Robinson_

~~Today's lesson will focus on understanding how we can use pandas to cut down on data manipulation workload and introduce some common methods for transforming data.~~

Todays lesson will extend our Pandas transformations from Part 1. We'll be exploring a few more common data manipulation patterns and dicussing pythonic ways to handle some types of problems.

In [4]:
import sys
import pandas as pd
import numpy as np

# We should append the custom module to our PYTHONPATH to have access
# to the db_utils module!
sys.path.append('../../custom')

from db_utils import get_connection, validate_connection, get_data
pd.options.display.float_format = '{:,.2f}'.format

# Motivating Question

How can we manipulate data in `pandas` to to answer our questions?
What are some common data manipulations steps we should feel comfortable with in pandas?
There's more than one way to skin a cat! üôÄ

We're going to be working with some **Milestone Updates** data which is somewhat messy but the only source for a lot of questions we'll need to solve.

*Note: the column `update_lead_hours` here is a calculation of hours between when the update was made, and when the milestone occured. Negative means the milestone was created after it happened, postive means the milestone was created ahead of the actual event.*

In [7]:
# We'll get started by establishing a database connection and pulling a predetermined dataset of milestone updates
# We're selecting for only July 2020 and only arrival/departure milestones to ignore T&T events like last free day.
conn, cur = get_connection()
df = get_data('milestones.sql','file', conn)

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...

# Questions:

We've got four questions ahead of us. The first two we'll do here:

    1. What percentage of actual updates are human vs automated
    2. What (if any) is the improvement in update speed earned by automation and operations teams
    
The latter two will be explored in Part 2 of this lesson:
    
    3. What milestones are frequently missing per given mode?
    4. What are the fastest updates per mode
    
Keeping in mind for the above, we'll need to handle outliers and extraneous/missing data.
   
## Data Exploration

First, let's take a look through our data to have an idea of what we're working with.

**Can we identify any issues we might have in attempting to answer our motivating questions?**

In [8]:
# Question? Explore the data and determine some issues we may see with this analysis
df.head()

,id,shipment_id,shipment_mode,shipment_load_type,leg_mode_type,address_type,update_event_type,update_date_type,source,created_by,update_lead_hours
0,vu3226743587913466488858141657759283EITU9037961,879134,Ocean,LCL,Truck - Domestic,consolidation,departure,scheduled,human,Flora Zhu,631.00
1,vu3226743487913466488858141657563713EITU9037961,879134,Ocean,LCL,Truck - Domestic,departure_port,arrival,scheduled,human,Flora Zhu,631.00
2,vu3226743487793366488858141654563713EITU9037961,877933,Ocean,LCL,Truck - Domestic,departure_port,arrival,scheduled,human,Flora Zhu,631.00
3,vu3226743587793366488858141654759283EITU9037961,877933,Ocean,LCL,Truck - Domestic,consolidation,departure,scheduled,human,Flora Zhu,631.00
4,vu3226743587487766488858141651759283EITU9037961,874877,Ocean,LCL,Truck - Domestic,consolidation,departure,scheduled,human,Flora Zhu,631.00

# 1. Percentage of Updates: Human vs. Automated

I'm solving this by stringing together some logic to **only solve for air and ocean milestones** (that's all we want right now) and **choosing only actual dates, not scheduled**. 

From there we get a total count of rows, and final determine the count of each value in a series before dividing by the total.

In [9]:
# One, less-readable way to filter data is to create a series that holds conditional expressions
# for example
ocean_filter = df.shipment_mode == 'Ocean'
air_filter = df.shipment_mode == 'Air'
milestones_filter = df.update_date_type == 'actual'
final_filter =  (ocean_filter | air_filter ) & milestones_filter

# We'll stop to discuss what these above filters mean here.
total_rows = df[final_filter]['id'].count()
df[final_filter]['source'].value_counts()/total_rows

human           0.65
no user found   0.29
cargosmart      0.03
inttra          0.02
crux            0.00
Name: source, dtype: float64

### Group Work Session

After examining this solution work through your own solution utilizing another way to cut data. This could be solved using `iloc`, `loc`, or <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html">query which I suggest</a>. You can also use the <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html">groupby function</a> to circumvent `value_counts`.

Try to answer this question in the most Pythonic, efficient, or visually appealing way; for example, try answering this question with one line of code! Furthermore, think about how we could persist this result.

# 2. Improvement in Update Speed for Automation

Well, we learned by answering the prior question that the majority of our updates are coming from humans, with a bit of our updates provided by `crux` or `inttra` or `cargosmart`. Nearly 30% fell into the `no user found` category. If you dig a little bit deeper, you'll find that we also have some null values present in this column. 

In this next challenge, we're going to do a handful of things:
    
    1. Use a separate CSV "user_types.csv" which maps "Human" users to bots, individuals or groups
    2. Using logic source and user type, determine if the the update was a bot, individual, or shared account
    3. Drop null values
    4. Eliminate outlier data and calculate average update speed

In [10]:
# Use this new data table which is updated using the filter we did in part 1.
data = df[final_filter]

#Retrieve user/type mapping
# read csv in here

# Create a new column with user_type in our current DF
# combine this csv info with our current dataframe here

# Drop rows where the created_by or source are null
# drop rows here

In [11]:
# Define a function for determining what type of user we have
def get_user(row):
    if row['source'] in ('crux', 'inttra', 'cargosmart'):
        return 'bot'
    if (row['source'] == 'no user found'):
        return row['user_type']
    if (row['source'] == 'human'):
        return row['user_type']
    else:
        return None

# Use this function to create a new column from our logic in our dataframe
# create column with function here

In [20]:
# We'll then want to drop all null values from this column that we'll be using moving forward
# drop NA values

# Now let's take a look at what we're working with
#data['update_lead_hours'].describe()

### Pause for Deep Dive

#### Vectorization
The `.apply` method is less verbose than writing a big loop, but it's still doing a loop under the hood. How can we make this faster?

Pandas is based on numpy, which has the concept of "vectorized" operations. These are functions that operate on an entire vector and are optimized at the C level. I don't know a whole lot about computers. It's still doing a loop _somewhere_ in there, but it's all happening at a lower level of code.

Think about something like adding two columns together - I _could_ implement this as a loop or an apply:

In [13]:
test_data = pd.DataFrame(zip(range(0, 10), range(10 ,20)), columns=['a', 'b'])

def addition(a: int, b: int) -> int:
    """add two numbers together"""
    return a + b

test_data['c'] = test_data.apply(lambda x: addition(x.a, x.b), axis=1)
test_data

   a   b   c
0  0  10  10
1  1  11  12
2  2  12  14
3  3  13  16
4  4  14  18
5  5  15  20
6  6  16  22
7  7  17  24
8  8  18  26
9  9  19  28

but, that's pretty silly. Normally, we would just use the built in addition operator for pandas and just add the columns together:

In [14]:
test_data['c2'] = test_data.a + test_data.b
test_data

   a   b   c  c2
0  0  10  10  10
1  1  11  12  12
2  2  12  14  14
3  3  13  16  16
4  4  14  18  18
5  5  15  20  20
6  6  16  22  22
7  7  17  24  24
8  8  18  26  26
9  9  19  28  28

So, before we resort to using `.apply`, we should ask ourselves: **is there a built-in pandas or numpy function that can accomplish what I want?**

In the above example, we want to create an additional column by applying some conditional logic to the `source` column. This is a good fit for the `np.where` function, which takes three arguments:
1. A boolean vector
2. A vector or scalar representing the desired value if the above boolean is true
3. A vector or scalar representing the desired value if the above boolean is false

Since we have multiple conditions, we'll have to nest multiple `np.where`s

In [15]:
data['categorical_user_type_2'] = np.where(
    data.source.isin(['crux', 'inttra', 'cargosmart']), 'bot',
    np.where(
        data.source.isin(['no user found', 'human']), data.user_type, np.nan))
        
(data.categorical_user_type == data.categorical_user_type_2).mean()

1.0

In [16]:
from time import time

start = time()
data['categorical_user_type'] = data.apply(get_user, axis=1)
apply_seconds = time() - start

start = time()
data['categorical_user_type_2'] = np.where(
    data.source.isin(['crux', 'inttra', 'cargosmart']), 'bot',
    np.where(
        data.source.isin(['no user found', 'human']), data.user_type, np.nan))
vectorized_seconds = time() - start

In [17]:
print('Apply took:      {:,.1f}s'.format(apply_seconds))
print('Vectorized took: {:,.1f}s'.format(vectorized_seconds))

Apply took:      12.2s
Vectorized took: 0.1s

## Removing Outliers

We see that the long-tail of update lead hours is very long. On average, our milestone updates are logged $313$ hours after occuring, with the median sitting at $20$ hours. For this analysis we can probably assume no "actual" updates should be happening before the fact, so we'll drop all values greater than $0$. 

It seems like some of our large outliers are significantly skewing our data. I think 2 weeks is a reasonable assumption to make for the most amount of time it should take to update a milestone -- we'll drop all rows with lead hours over $336$ hours.

In [18]:
final_dataset = data[(data['update_lead_hours'] < 0) & (data['update_lead_hours'] > -336.0)]

# our final dataset has significantly less values
final_dataset['id'].count()

237193

In [19]:
final_dataset.groupby(by='categorical_user_type')['update_lead_hours'].mean()

categorical_user_type
bot           -6.11
individual   -72.75
shared       -24.77
Name: update_lead_hours, dtype: float64

## Solution

This gives us the expected solution! Bots are significantly faster than human users, and accounts run by individuals are slower at making updates than those owned by shared accounts (teams).

### Group Work

We've walked through a single method for arriving at this solution. 
**Can you arrive at this solution through another method? Is there any other relevant measures we could calculate to provide more insight?**